<nav class="z-5 bg-gray-700">

  <ul class="flex flex-col sm:flex-row text-white justify-center">
    <li>
      <a class="hover:bg-orangelec transition-all py-4 px-5 block uppercase" href="{{ path('homepage') }}">Accueil</a>
    </li>
    <li>
      <a class="hover:bg-orangelec transition-all py-4 px-5 block uppercase" href="{{ path('teams_list') }}">Les équipes</a>
    </li>
        <li>
      <a class="hover:bg-orangelec transition-all py-4 px-5 block uppercase" href="{{ path('players_list') }}">Les joueurs</a>
    </li>
    <li>
      <a class="hover:bg-orangelec transition-all py-4 px-5 block uppercase" href="{{ path('app_login') }}">Se connecter</a>
    </li>
  </ul>

</nav>
